/* .profile-close-button-div {
    position: relative;
    z-index: 100;
} */

.daughter-2{

    display: inline-block; 
    
    vertical-align: top;
    color: white;
    height: 300px;
}

.username{
    display: inline-block;
    margin-top: 60px;
    font-family: PoorStory;
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    width: 382px;
    height: 60px;
    margin-left: 46px;

    
}

.list{
    margin-left: 53px;
}

.list li{
    display: inline-block;
    font-family: PoorStory;
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 0px;

}

.key-details{
    font-family: Mukta;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    color: RGBA(255,255,255,50%);

}

.show-followers{
    margin-left: 89px;
}

.show-following{
    margin-left: 98px;
}



.daughter-2 ul{
    margin-top: 0;
}

.edit-profile-button{
    text-decoration: none;
    color: white;
    text-decoration: none;

    font-family: Mukta;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;

}

.display-none{
    display: none;
}