
.post_content{
    background-color: #FFFFFF;
    height:660.86px;
    width:762px;
    position: relative;
    left:0px;
    top:-20px;
    border-radius: 30px;
}
.post_det{
    position:relative;
    top:0px;
    left:0px;
    width: 762px;
height: 101.02px;
background-color: #106EE8;
border-radius: 30px 30px 0px 0px;

}
.post_auth{
    position:relative;
    top:20.77px;
    left:101px;
    width: 234px;
    height: 46.26px;
    font-family: Mukta;
    color:#FFFFFF;
    font-size: 26px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;


}
.post{
    height: fit-content;
    width: fit-content;
}
.bar{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 49px;
    height: 147px;
    top: -175px;
    left: 776px;    
    border-radius: 15px;
    background-color: #99999961;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}
.not-liked{
    position: relative;
    top:-10px;
    width:29.02px;
    height: 29.02px;
    background-image: url('../../assets/like.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.liked{
    position: relative;
    width:29.02px;
    top:-10px;
    height: 29.02px;
    background-image: url('../../assets/heart-red.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.comment_but{
    width:29.02px;
    height: 29.02px;
    background-image: url('../../assets/message-circle.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.share_but{
    position: relative;
    width:29.02px;
    top:10px;
    height: 29.02px;
    background-image: url('../../assets/share.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.below_post{
    display: grid;
    grid-template-columns: 100px auto;
    align-content: space-between;
    position: relative;
    top:-150px;
    color:white;
    font-family: Mukta;
font-size: 22px;
font-weight: 600;
line-height: 44px;
letter-spacing: 0em;
text-align: left;

}
.like_count .comment_count{
    padding:15px;
}