

:root {
  
  --background-color: #050607;
  
  --text-color: #eee;

  --accent-color: #0279D3;
  --font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  
}



.App {
  padding-top: 60px; 
}


.posts{
  display:flex;
  flex-direction: column;
  position: absolute;
  top:214px;
  left:329px;
  width:800px;
  height:100%;
  
  
}

.fixed{
  position:fixed;
  /* z-index: 1; */
}

.scrollable-container-feed {
  position: relative;
  
  left: 288px;
  top: 0;
  bottom: 0;
  right: 0;

  height: 100vh;

  overflow-y: scroll;
  overflow-x: hidden;

  margin-left: -288px;

  z-index: 1;
}

.header{
  position:fixed;
  top:0px;
  height:214px;
  width:900px;
  left:290px;
  background-color:black;
  z-index:1;

}


@media only screen and (max-width: 768px) {
  .search {
    margin: 30px auto; 
    transform: scale(1.5);
  }

  .post {
    width: 70%;
  }
}