

.single-post {
    text-align: center;
    display: inline-block;
    background-color: black;
    margin-left: 42px;
    margin-bottom: 42px;
}

.posts-container{
    text-align: left;
    width: 1036px;
    margin-left: -127px;
}

.single-post img{
    width: 455px;
    height: 455px;
    margin: 2px;

}


