

.single-post {
    text-align: center;
    display: inline-block;
    background-color: black;
    margin: 10px;
}

.posts-container{
    text-align: center;
    background-color: #1d1e1d;
    margin-left: 346px !important;
    width: 1036px;
}

.single-post img{
    width: 455px;
    height: 455px;
    margin: 2px;

}

@media (min-width: 1050px){
    .posts-container{
        margin-left: 250px;
    }
}
