#search_bar{
    position:fixed;
    width: 735px;
    height: 44px;
    top: 30px;
    left: 313px;
   
    z-index:2;
    border:3px solid #106EE8;
    border-radius: 7px;


}
#search{
    
    position:fixed;
    border:none;
    width: 680px;
    height: 35px;
    top: 35px;
    left: 356px;
    color:white;
    background-color: black;
    font-family:Mukta;
    
}
#search:focus{
    outline: none;
}

.search_icon{
    background-color: black;
    background-image: url("../../assets/search.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border:none;
    cursor: pointer;
 position:fixed;   
width: 29.56px;
height: 30px;
top: 37.68px;
left: 324.32px;
border-radius: 7px;
opacity: 0.58;
z-index:2;
}
