/* .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-right: solid 2px rgb(38, 38, 38);
}

.sidenav a, .sidenav h1 {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav h1{
    font-size: 30px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn{
    font-size: 30px;
    cursor: pointer;
    margin-top: 150px;
    color: white;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


@media screen and (min-width: 1050px) {
    .sidenav {
        width: 250px;
    }

    .sidenav .closebtn{
        display: none;
    }
} */

.sidenav{
    font-family: "Mukta";
    font-size: large;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 288px;
    background-color:#12180F;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.heading-instigram{
    width: 251px;
    height: 62px;
    font-family: "PoorStory"; 
    color: white;
    margin:38px 8px;
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
}
ul{
    margin-top: 70px;
}

.list-item{
    font-family: Mukta;
    text-decoration: none;
    color: #F8FFF6;
    width: 143px;
    height: 56px;
    margin-left: 24px;
    display: inline-block;
}

.calender-bg{
    width: 10px;
    height: 10px;
    background-image: "../../assets/calendar.svg";
    background-color: #F8FFF6;
}
