

.sidenav{
    font-family: "Mukta";
    font-size: large;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 288px;
    background-color:#12180F;
    position: fixed;
    height: 100%;
    overflow: auto;
    border-radius: 0 50px 0 0;
    
    border-right: solid 1px #F8FFF6;
    border-top: solid 1px #F8FFF6;
    box-shadow: -4px 4px rgba(255, 255, 255, 25%);
}

.heading-instigram{
    width: 251px;
    height: 62px;
    font-family: "PoorStory"; 
    color: white;
    margin:38px 8px;
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
}
ul{
    margin-top: 50px;
}
li{
    height: 50px;
}
.nav-list-item {
    font-family: Mukta;
    text-decoration: none;
    color: #F8FFF6;
    display: flex;
    align-items: center;
    margin-left: 24px;
    font-weight: 400;
    font-size: 22px;
    line-height: 36.56px;
    justify-items: center;
}

.navbar-icon-calendar {
    width: 24px;
    height: 24px; 
    margin-right: 8px;
    
    background-image: url("../../assets/calendar.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.navbar-icon-profile{
    width: 24px;
    height: 24px; 
    margin-right: 8px;
    
    background-image: url("../../assets/user.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.navbar-icon-searchh{
    width: 24px;
    height: 24px; 
    margin-right: 8px;
    
    background-image: url("../../assets/search.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.nav-newpost-button{
    font-family: PoorStory;
    text-decoration: none;
    color: #003887;
    display: flex;
    align-items: center; 
    padding-left: 24px;
    font-weight: 400;
    font-size: 29px;
    line-height: 36.56px;
    justify-items: center;
    background-color: #F8FFF6;
    padding-top: 14px;
    padding-bottom: 16px;
    margin: 10px;
    border-radius: 10px;

}
.addpost-icon{
    width: 45px;
    height: 45px; 
    margin-right: 8px;
    
    background-image: url("../../assets/plus-square.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

