.below-search{
    position: fixed;
    top:7%;
    left:16.3%;
    font-family: Mukta;
    width:38%;
    height:fit-content;
    z-index:3;
    background: #000000D1;
    border: 1px solid #106EE8;
    border-radius: 0px 0px 10px 10px;
    color:#106EE8;
}
.search-res{
    list-style-type:none;
    
}
.res{
    text-decoration: none;
    color:#106EE8;
}